.container {
justify-content: center;
}

.row{
    display: flex;
}

.card{
    margin: 25px;
    width: 125px;
}
.weather-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.weather-list ul {
    padding: 0;
}

.weather-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.weather-list img {
    margin-right: 10px;
    width: 125px;
    align-items: center;
}

.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-info .baslik {
    font-weight: bold;
}

.weather-info .aciklama p {
    margin: 0;
}

header h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    color: black;
}
header p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
    font-weight: bold;
}